<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/dist/styles/reset.css" />
        <link rel="stylesheet" href="/dist/styles/global.css" />
        <title>Go Template Test</title>
    </head>
    <body>
        <h1>{{.PageTitle}}</h1>
        <img src="/assets/images/laundry.jpg" alt="Laundry" />
        <div id="container"></div>
    </body>
    <script src="/dist/scripts/index.js" type="module"></script>
</html>
