body {
  background-color: whitesmoke;
  color: black;
}

li {
  border-radius: 1rem;
  background-color: gainsboro;
  color: black;
  padding: 0.5rem 1rem;
}

.done {
  background-color: lightgreen;
}

img {
  max-width: 320px;
  width: 100%;
}
